@media and (max-width: 1100px){
	.container-fluid{
		max-width: 100%;
	}
}
body{
	background:white;
    margin: 30px auto;
}
#button{
	color:#fff;
	cursor: pointer;
	background:#337ab7;
	padding: 10px 10px;
	margin-left: 60%;
}
#welcome{
	width:45%;	
	margin-top: 50px;
	float:left;
 }
 .login-button{
 	margin-top: 20px;
 	background-color: grey;
 }
 
/*input[type=checkbox]{
	border:1px transparent solid;
    display: inline-block;
    width: 12em;
    margin-top: 20px;
}*/
fieldset.group{
	margin: 0;
	padding: 0;
	margin-bottom: 1.25em;
	padding: .125em;
}
fieldset.group legend{
	margin: 0;
	padding: 0;
	font-weight: bold;
	margin-left: 30px;
	font-size: 100%;
	color: black;
	font-family: arial;
}
/*.checkbox{
	margin:0;
	padding:0;
	margin-left: 20px;
}*/
/*label{
	color: red;
	padding: 0px 0px 10px 5px;
}*/

/*input[type=text]{
     height: 22px;
     width: 100px;
     background-color: white;
     background-repeat: no-repeat;
     background-position: 10px 10px;
	border: 2px solid #555;
	border-radius: 4px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;

}*/
/*input[type=text]:focus{*/
/*   width:40%;
}
input[type=password]{
	height: 23px;
	width: 100px;
	border: 2px solid #555;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	border-radius: 4px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}*/
/*input[type=password]:focus{
	width:40%;
}*/
/*input[type=submit]{
	margin-bottom: 25px;
	margin-left: 50px;
	border: 1px solid grey;
	border-radius: 2px;
}*/

#admin{
    width:25%;
    border-radius: 5px;
    margin: 80px auto;
    background:white;
    padding:5px;
}
#show-sales{
	width:25%;
    margin:80px auto; 
    padding: 5px;
    border-radius: 1px; 
}
.homepage{
	font-size: 30px;
 	float:left;
 	color:blue;
 	margin-left: 30px;
 	margin-right: 100px;
 	padding: 20px;

}

#sign{
	list-style-type:none; 
	margin-top: 10px;
	font: bold 14px tahoma;
	 	
}
.footer{
	text-align: center;
	 padding: 20px auto;
	font: bold 14px tahoma;
	margin-top: 200px;
	border-top: 2px solid black;
	position: relative;

}
.modal-header, h4, .close {
      background-color: grey;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: ;
  }
.username{
	font-weight: bold;
	color: grey;
}
